<div class="pt-5 my-5 text-center container-fluid">
    <h1 class="display-3 fw-bold text-body-emphasis">Library management system</h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">Introducing our Library Management System: Revolutionize your library's efficiency with
            streamlined operations, user-friendly interfaces, and comprehensive resource management. From cataloging to
            user access, our system offers a seamless experience for patrons and staff alike. Join libraries worldwide
            in optimizing resource utilization and enhancing the user journey with our innovative solution.</p>
    </div>
</div>